In [ ]:
age=-32
age
name='Gul'
type(age)

int

In [ ]:
"""
This is a multi-line comment with docstrings

print("Hello world")
print("Hello universe")
print("Hello everyone")
"""
print(age)

-32.15

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
items=['Apple',15,'as far as',13.25,'1999',18.45,'far','close']
print(items,type(items))

['Apple', 15, 'as far as', 13.25, '1999', 18.45, 'uzak', 'yakın'] <class 'list'>

In [ ]:
print(items[3])

13.25

In [ ]:
print(items[2:5]) #I write the index of the first data I want to print and I put it next to the data in which index I want to print, but it does not include the last data.

['as far as', 13.25, '1999']

In [ ]:
print(items[:2])

['Apple', 15]

In [ ]:
print(items[2:])

['as far as', 13.25, '1999', 18.45, 'uzak', 'yakın']

In [ ]:
items[1]="not 15"
print(items)
#we changed index 1

['Apple', '15 değil', 'as far as', 13.25, '1999', 18.45, 'uzak', 'yakın']

In [ ]:
print(age,type(age))
age+=0.5
print(age,type(age))

-32 <class 'int'>
-31.5 <class 'float'>

Every time I press the above code the number gets a little less

In [ ]:
number='19' #changing the type of variable
print(number,type(number))
number=int(number)
print(number,type(number))

19 <class 'str'>
19 <class 'int'>